.navbar-item img {
  max-height: 3rem;
}

.login__button:hover {
  color: white;
}

.banner .hero-body .container {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 15px;
}

.hero-body h1 {
  font-size: 3rem;
  line-height: 1.5;
}

.hero-body h2 {
  line-height: 1.4;
}

.banner .button {
  margin-top: 15px;
  text-align: left;
  width: 300px;
}

.banner .button:hover {
  background-color: danger;
  color: white;
}

.banner .button svg {
  margin-left: 20px;
  transition: transform 0.4s ease-in-out;
}

.banner .button:hover svg {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.to-next-section {
  padding: 50px;
}

.to-next-section__text {
  font-size: 1.2rem;
  font-weight: 200;
  padding: 5px;
}

.to-next-section__text:hover,
.to-next-section__icon:hover {
  cursor: pointer;
}
